header,
footer {
  background: #008000;
}
header h1,
footer h1 {
  color: #ffffff;
}
.width {
  width: 150px;
}
header {
  background: #008000 url("https://www.baidu.com/img/bdlogo.png");
  height: 500px;
}
h1:hover {
  border: 1px solid #000000;
}
h1:hover {
  border: 1px solid #ff0000;
}
div {
  padding: 33px;
  margin: 66px;
}
p,
a,
ul,
li {
  border: 2px solid #000;
  border-top: 2px;
}
p,
a,
ul,
li {
  border: 2px solid #000;
}
p p p,
p p a,
p p ul,
p p li,
p a p,
p a a,
p a ul,
p a li,
p ul p,
p ul a,
p ul ul,
p ul li,
p li p,
p li a,
p li ul,
p li li,
a p p,
a p a,
a p ul,
a p li,
a a p,
a a a,
a a ul,
a a li,
a ul p,
a ul a,
a ul ul,
a ul li,
a li p,
a li a,
a li ul,
a li li,
ul p p,
ul p a,
ul p ul,
ul p li,
ul a p,
ul a a,
ul a ul,
ul a li,
ul ul p,
ul ul a,
ul ul ul,
ul ul li,
ul li p,
ul li a,
ul li ul,
ul li li,
li p p,
li p a,
li p ul,
li p li,
li a p,
li a a,
li a ul,
li a li,
li ul p,
li ul a,
li ul ul,
li ul li,
li li p,
li li a,
li li ul,
li li li {
  border-top: 2px;
}
.box3 h1 {
  padding: 10px;
}
.box3 h2 {
  padding: 20px;
}
.box3 h3 {
  padding: 30px;
}
.box3 h4 {
  padding: 40px;
}
.box3 h5 {
  padding: 50px;
}
.box3 h6 {
  padding: 60px;
}
.myclass {
  box-shadow: inset 0 0 10px red , 0 0 20px #000 ;
}
.myclass {
  background: red url(../img/1.jpg) no-repeat;
}
body {
  background: #ff0000;
}
div {
  font-family: "%22Microsoft%22 "YaHei"";
  n: "a";
  width: 5.5px;
  width: 6px;
  width: 5.4px;
  width: 5px;
  width: 2.82842712px;
  top: -999px;
  top: 999px;
  height: 4px;
  height: 27px;
  bottom: 1px;
  width: 3.14159265;
  width: 1px;
}
div {
  x: 220em;
}
div {
  background: #80ff00;
  background: rgba(128, 255, 0, 0.5);
  z-index: 29;
  z-index: 199;
  z-index: 150;
  z-index: 0.8;
}
